*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/* alinhando os cards com espaçamento na horizontal */
.funcionarios {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.imagem-funcionario {
   /* redimensionando imagem  */
    width: 120px;
    height: 120px;
    /* responsável por arredondar a imagem do funcionário */
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

/* nome dos funcionarios */
.card-funcionario h3 {
    margin: 0;
    color: black;
}

/* nome cargo */
.card-funcionario p {
    margin: 5px 0 0;
    font-size: 0.9rem;
    color: black;
}

.card-funcionario {
    background-color: white;
    
    /* arredonda as bordas do card */
    border-radius: 10px;
    
    padding: 20px;

    /* sombra do card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
}